@import "variables";

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: $gray-body;
}

header {
    height: 80px;
   border-bottom: 1px solid $gray-trasparency;
   background-color: $white;
   text-align: right;
}

.menu-items {
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
        display: inline-block;
        padding: 30px 0 30px 30px;
    }
}

.site-width {
    margin: 0 auto;
    max-width: 700px;
}