html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: $gray-body;
}

.site-width {
    margin: 0 auto;
    max-width: 1170px;
    position: relative;
}

.page-wrap {
    min-height: 100%;
    &::after {
        content: '';
        display: block;
        height: 60px;
    }
}

footer {
    margin-top: -60px;
    height: 60px;
    text-align: center;
    border: solid 1px $gray-line;
    p {
        margin: 0;
        line-height: 60px;
    }
}